body {
 font-size: 14px;
 color: #333;
 margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
 padding: 10px 0;
 margin: 0;
}

ul,li {
 padding: 0;
 margin: 0;
}

a {
 text-decoration: none;
 color: black;

}

.logo {
 width: 100px;
 height: 100px;
 background-color: #EEEEEE;
 border-radius: 50%;
}

.navbar {
 width: 50%;
 padding: 20px;
}

.nav-lists {
 display: flex;
 list-style: none;
}

.top-baner {
 width: 100%;
}

.footer {
 background-color: black;
 color: white;
 text-align: center;
}